@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.1/font/bootstrap-icons.css");
.body {
  font-family: "Lato";
}
.NavBar{
    position: fixed;
    height: 100%;
    width: 17%;
    z-index: 1 !important;
}
a:link {
  text-decoration: none;
  color: white !important;
}
.navcomp.active {
 background-color: rgba(255, 255, 255, 0.25) !important; /* Example active bg */
  border-radius: 8px;
}
.navcomp {
  background-color: transparent !important;
  border: 1px solid;
  border-radius: 8px;
  background-color: #ed7966;
  width: 85%;
  margin-left: 0.5rem;
  border: none;

}
.navcomp1 {
  padding-right: 4rem !important;
  
}

.pages {
  background-color: #fffbfa;
  height: 100%;
  width: 83%;
  margin-left: auto;
  min-width: 800px;
}
.pg-container {
  width: 90%;
  margin: auto;
}
.login-p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #09174a;
}
.orangeBtn{
  color: white;
  background-color: #ed7966;
  border: none;
  border-radius: 5px;
  height: 2.5rem;
   padding: 10px 20px 10px 20px;
}
.orangeBtn:hover {
  background-color: #d76b59; /* darker shade on hover */
  transform: scale(1.05);   /* slightly bigger */
  cursor: pointer;
}
.pg-headings{
  font-weight: 400;
  color: #646464;
}
.show{
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.5); /* replace with your hash color */
  display: none;
} 
.glass-modal .modal-content  { /* frosted glass */
  border-radius: 5px;
  border: none;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.2);
  color: #09174a;
}